<div class="container">
  {{#if sessionData.name}}
    <div class="user-info mb-4">
      <h3>¡Bienvenido, {{sessionData.name}}!</h3>
      {{#if sessionData.email}}
        <p>Email: {{sessionData.email}}</p>
      {{/if}}
      {{#if sessionData.age}}
        <p>Edad: {{sessionData.age}}</p>
      {{/if}}
      {{#if sessionData.rol}}
        <p>Rol: {{sessionData.rol}}</p>
      {{/if}}
      <button onclick="cerrarSesion()" class="btn btn-danger">Cerrar Sesión</button>
    </div>
  {{else}}
    <div class="user-info mb-4">
      <h3>Bienvenido</h3>
      <a href="/users/login" class="btn btn-primary">Iniciar Sesión</a>
    </div>
  {{/if}}

  <h1 class="mt-4 mb-4">Lista de Productos</h1>

  {{#each products.docs}}
    <div class="product card mb-4">
      <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        <p class="card-text">{{description}}</p>
        <p class="card-text">Precio: ${{price}}</p>
        <a href="/api/products/detalle/{{_id}}" class="btn btn-primary">Ver más</a>
        <button onclick="agregarAlCarrito('{{_id}}')" class="btn btn-success">Agregar al carrito</button>
      </div>
    </div>
  {{/each}}

  {{#if products.hasNextPage}}
    <a href="?page={{products.nextPage}}{{#if products.query}}&query={{products.query}}{{/if}}{{#if products.sort}}&sort={{products.sort}}{{/if}}" class="btn btn-secondary">Siguiente</a>
  {{/if}}

  {{#if products.hasPrevPage}}
    <a href="?page={{products.prevPage}}{{#if products.query}}&query={{products.query}}{{/if}}{{#if products.sort}}&sort={{products.sort}}{{/if}}" class="btn btn-secondary">Anterior</a>
  {{/if}}
</div>
<script>
  async function agregarAlCarrito(productId) {
    try {
      const response = await fetch(`/api/carts/658eccc66fa5da2b93311bd2/products/${productId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      });
      if (response.ok) {
        alert('Producto agregado al carrito exitosamente.');
      } else {
        alert('Hubo un problema al agregar el producto al carrito.');
      }
    } catch (error) {
      console.error('Error al agregar el producto al carrito:', error);
      alert('Error al agregar el producto al carrito.');
    }
  }

  
  async function cerrarSesion() {
    try {
      const response = await fetch("/api/session/logout", {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
        },
      });

      if (response.ok) {
        const responseData = await response.json();
        if (responseData.success) {
          alert('Sesión cerrada correctamente');
          window.location.href = "/users/login";
        } else {
          alert('Error al cerrar la sesión.');
        }
      } else {
        alert('Error al cerrar la sesión.');
      }
    } catch (error) {
      console.error('Error al cerrar la sesión:', error);
      alert('Error al cerrar la sesión.');
    }
  }
</script>


<!-- Sacar scripts a helpers !!! y volver a ordenar los handlebars! que me hice un lio-->