<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Lista de Productos</title>
  </head>
  <body>
    <div class="container">
      <h1>Lista de Productos</h1>

      {{#each products.docs}}
        <div class="product">
          <h2>{{title}}</h2>
          <p>{{description}}</p>
          <p>Precio: ${{price}}</p>
          <p>Categoría: {{category}}</p>
        </div>
      {{/each}}

      {{#if products.hasNextPage}}
        <a href="?page={{products.nextPage}}">Siguiente</a>
      {{/if}}

      {{#if products.hasPrevPage}}
        <a href="?page={{products.prevPage}}">Anterior</a>
      {{/if}}
    </div>
  </body>
</html>