<div class="container">
  <h1 class="mt-4 mb-4">Lista de Productos</h1>

  {{#each products.docs}}
    <div class="product card mb-4">
      <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        <p class="card-text">{{description}}</p>
        <p class="card-text">Precio: ${{price}}</p>
        <a href="/api/products/detalle/{{_id}}" class="btn btn-primary">Ver más</a>
        <button onclick="agregarAlCarrito('{{_id}}')" class="btn btn-success">Agregar al carrito</button>
      </div>
    </div>
  {{/each}}

  {{#if products.hasNextPage}}
    <a href="?page={{products.nextPage}}{{#if products.query}}&query={{products.query}}{{/if}}{{#if products.sort}}&sort={{products.sort}}{{/if}}" class="btn btn-secondary">Siguiente</a>
  {{/if}}

  {{#if products.hasPrevPage}}
    <a href="?page={{products.prevPage}}{{#if products.query}}&query={{products.query}}{{/if}}{{#if products.sort}}&sort={{products.sort}}{{/if}}" class="btn btn-secondary">Anterior</a>
  {{/if}}
</div>
<script>
  async function agregarAlCarrito(productId) {
    try {
      const response = await fetch(`/api/carts/658eccc66fa5da2b93311bd2/products/${productId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      });
      if (response.ok) {
        alert('Producto agregado al carrito exitosamente.');
      } else {
        alert('Hubo un problema al agregar el producto al carrito.');
      }
    } catch (error) {
      console.error('Error al agregar el producto al carrito:', error);
      alert('Error al agregar el producto al carrito.');
    }
  }
</script>