<div class="container">
  <h1>Lista de Productos</h1>

  {{#each products.docs}}
    <div class="product">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <p>Precio: ${{price}}</p>
      <!-- Enlace para ver más detalles del producto -->
      <a href="/api/products/detalle/{{_id}}">Ver más</a>
      <!-- Botón de agregar al carrito -->
      <button onclick="agregarAlCarrito('{{_id}}')">Agregar al carrito</button>
    </div>
  {{/each}}

  {{#if products.hasNextPage}}
    <a href="?page={{products.nextPage}}{{#if products.query}}&query={{products.query}}{{/if}}{{#if products.sort}}&sort={{products.sort}}{{/if}}">Siguiente</a>
  {{/if}}

  {{#if products.hasPrevPage}}
    <a href="?page={{products.prevPage}}{{#if products.query}}&query={{products.query}}{{/if}}{{#if products.sort}}&sort={{products.sort}}{{/if}}">Anterior</a>
  {{/if}}
</div>
