<div>
    {{#each products}}
    <div class="producto">
        <strong>ID:</strong> {{ID}}<br>
        <strong>Titulo:</strong> {{title}}<br>
        <strong>Descripcion:</strong> {{description}}<br>
        <strong>Precio:</strong> ${{price}}<br>
        <strong>Stock:</strong> {{stock}}<br>
    </div>
    {{/each}}
</div>